input{
    width: 80%;
    height: 25px;
    border: none;
border-radius: 20px;
background-color: rgb(222, 222, 222);
}
body{
    background-color: black;
    color: white;
    text-transform: capitalize;
}


li{
    font-size: 11px;
    margin-top: 15px;
    list-style-type: none;

}
i{
    margin-right: 6px;
}


  
.swal-modal {
    text-transform: capitalize;
    background-color: rgba(81, 81, 81, 0.69);
    border: 3px solid white;

  }
  a{

    text-decoration: none;
    color: white;
  }