body{
  background-image: url(https://wallpapercave.com/wp/wp2406557.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    width: 350px;
    height: 40px;
    border-color: blue;
   margin: 0 auto;
   border-radius: 10px;
}
button{
    width: 350px;
}